.title{
    color: black;
    font-size:35pt;
    font-weight: 700;
    line-height: 1.2;
}

.title span{
    color: #11AEAF;
}

.p{
    color: black;
    font-family: var(--inter);
}

.container{
    width: 60%;
    font-family: var(--inter);
    margin-right: 20pt;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;          
    width: 100%;
}

.sejarah{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;          
    width: 100%;
    background-image: url('/bg.png');
    background-size: 100%;
    background-position: center;
}