.container{
    color: black;
    width: 50%;
    margin-left: 75pt;
    font-family: var(--inter);
}

.container h1{
    color: black;
    font-size:30pt;
    font-weight: 700;
    margin-bottom: 20pt;
    text-align:end;
}

.container p{
    text-align: justify;
    font-size: 11.5pt;
}